html, body {
    height: auto;
    margin: 0;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    background-color: #f3f6f9;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: white;
    font-size: clamp(0.3rem, 1.5vw, 0.8rem);
    font-family: Verdana;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 20px;
    display: flex;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav .icon {
    width: 1.5vw;
    height: 1.5vw;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: clamp(0.8rem, 1.8vw, 1.1rem);
}

.nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
}

.navButton {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navButton:hover {
    background-color: #eeeeee;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain;    
    align-items: center;
    justify-content: flex-start;
    background-color: #e6eaf0;
    flex-direction: column;
    margin-top: 0px;
    padding: 24px 0px;
}

.content h1 {
    margin-bottom: 20px;
    text-align: left;
}

.featureBox {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px 0px 80px;
}

.mainPrediction {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.featureBox h1 {
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
}

.predictionHeader {
    height: 10%;
    border-radius: 14px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .information .icon {
    width: 0.8vw;
    height: 0.8vw;
} */

.predictionHeader p {
    color: #4b4a4a;
    font-family: verdana;
    font-size: clamp(0.5rem, 1.5vw, 0.9rem);
    margin: 0px 8px
}

.information {
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: clamp(0.5rem, 1.5vw, 0.8rem);
    color: #4b4a4a;
    font-family: Verdana;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
}

.information p {
    margin: 0px;
    color: aqua;
}

.predictionBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
}

.leftSide{
    width: 50%;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    margin: 30px 15px 45px 15px;
    color: #4b4a4a;
    font-family: Verdana;
    padding: 30px 10px;
}

.homeSide {
    height: 100%;
    width: 50%;
    /* background-color: pink; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
}

.homeSide img, .awaySide img {
    width: clamp(60px, 8vw, 100px);
    height: clamp(60px, 8vw, 100px);
    margin: 15px 0px;
}


.centre {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    font-weight: 10
}

.awaySide {
    height: 100%;
    width: 50%;
    /* background-color: pink; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    align-items: center;

}

.rightSide{
    width: 40%;
    border-radius: 14px;
    /* background-color: aqua; */
    margin: 10px 60px 60px 30px;
}

.statsTitle {
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
    margin-top: 3px;
}

.statLabel {
    font-size: clamp(0.6rem, 1.5vw, 1.0rem);
}

.statsSection {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

.statRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 5px 15px;
    font-family: verdana;
    font-size: clamp(0.7rem, 1.5vw, 1.0rem);

}


.rsHeader {
    font-size: clamp(1.0rem, 2.0vw, 1.2rem);
    margin: 0px 15px;
    font-family: Verdana;
    display: flex;
    height: 10%;
    /* background-color: aquamarine; */
}

.statsHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px 15px;
    justify-content: space-between;
    font-family: verdana;
    font-size: clamp(0.8rem, 1.5vw, 1.0rem);
}

/* First Column (Everton / Numbers) aligns Left */
.statsHeader > :nth-child(1), 
.statRow > :nth-child(1) {
    text-align: left;
}

/* Middle Column (Statistic / Label) aligns Center */
.statsHeader > :nth-child(2), 
.statRow > :nth-child(2) {
    text-align: center;
}

/* Last Column (Newcastle / Numbers) aligns Right */
.statsHeader > :nth-child(3), 
.statRow > :nth-child(3) {
    text-align: right;
}

.percentage {
    height: 3vh;
    width: 8vw;
    background-color: #e6eaf0;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center; 
    margin: 20px 0px;
    border-radius: 100px;
    font-size: clamp(0.5rem, 0.8vw, 0.9rem);
}

.homeSide p, .awaySide p {
    font-size: clamp(0.7rem, 1.3vw, 1.2rem);
}

.better {
  background: rgba(0,0,0,0.20);
  border-radius: 6px;
  padding: 2px 6px;
}

.worse {
  margin: 0px 5px;
}

.winner {
    height: 3vh;
    width: 8vw;
    background-color: rgba(0,0,0,0.20);
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center; 
    margin: 20px 0px;
    border-radius: 100px;
    font-size: clamp(0.5rem, 0.8vw, 0.9rem);
}

.valueLeft,
.valueRight {
  display: inline-block;
  font-size: clamp(0.7rem, 1.3vw, 1.0rem);
}

.valueLeft {
  justify-self: start;
}

.valueRight {
  justify-self: end;
}

.otherPredictions {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.otherPredictions h1 {
    color: #000000;
    font-family: Verdana;
    font-size: clamp(1.0rem, 2.0vw, 1.5rem);
    margin: 0px 8px
}

.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px 15px;
}

.tile {
    background-color: white;
    width: 28vw;
    height: clamp(200px, 25vh, 250px);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding-bottom : 10px;
}

.tile .homeSide {
    height: 100%;
    width: 45%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
}

.tile .awaySide {
    height: 100%;
    width: 45%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;

}

.tile .homeSide img, .tile .awaySide img {
    width: clamp(35px, 4vw, 80px);
    height: clamp(35px, 4vw, 80px);
    margin: 5px 0px;
}



.tile .predictionHeader {
    height: 10%;
    border-radius: 14px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tile .information {
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: clamp(0.2rem, 0.7vw, 0.7rem);
    color: #4b4a4a;
    font-family: Verdana;
    padding: 5px 0px;
    margin-left: 5px;
}

.tile .iconText {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
    height: 20%;
    font-size: clamp(0.5rem, 0.8vw, 0.9rem);
}


.tile p {
    font-size: clamp(0.5rem, 1.0vw, 0.8rem);
}

@media (max-width: 768px) {
    .nav .icon {
        width: 15px;
        height: 15px;
    }

    .predictionBody {
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px 20px 0px;
    }

    .featureBox h1 {
        font-size: 20px;
    }

    .predictionHeader {
        width: 100%;
        gap: 10px;
    }
    
    .predictionHeader p {
        font-size: 0px;
    }

    .information .icon {
        width: 15px;
        height: 15px;
    }


    .leftSide, .rightSide {
        width: 100%;
        margin: 0px;
        justify-content: center;
    }

    .leftSide {
        padding: 10px 0px 30px 20px;
    }

    .rightSide {
        box-sizing: border-box ;
        padding: 0px 18px;
    }

    .homeSide img, .awaySide img {
        width: 70px;
        height: 70px;
    }

    .homeSide p, .awaySide p {
        font-size: 14px;
    }

    .percentage {
        width: 15vw;
    }

    .homeSide, .awaySide {
        justify-content: center;
    }


    .statRow {
        row-gap: 1px;
        text-align: center;
        margin: 6px 0px;
    }

    .statRow > * {
        /* justify-self: center; */
        text-align: center !important;
    }

    .tileRow {
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 0px;
    }

    .tile {
        width: 90vw;
    }

    .tile .predictionBody {
        flex-direction: row;
        padding: 0px;
    }

    .tile .awaySide, .tile .homeSide {
        width: 49%;
        padding: 15px 0px;
    }

    .tile .homeSide img, .tile .awaySide img {
        width: 55px;
        height: 55px;
    }

    .tile .percentage {
        width: 20vw;
        font-size: 9px;
    }

    .featureBox {
        margin: 0px  0px 30px;
    }




    
}