html, body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e6eaf0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: rgb(248, 245, 245);
    font-size: 10px;
    font-family: Verdana;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 20px;
    display: flex;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
}

.navButton {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navButton:hover {
    background-color: #eeeeee;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #e6eaf0;
    flex-direction: column;
    margin-top: 0px;
}

.content h1 {
    margin-bottom: 20px;
    text-align: left;
}

.featureBox {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.mainPrediction {
    background-color: rgb(248, 245, 245);
    height: 80%;
    width: 140vh;
    margin: 10px 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.featureBox h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
}

.predictionHeader {
    height: 10%;
    border-radius: 14px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    margin-right: 0px;
}

.predictionHeader p {
    color: #4b4a4a;
    font-family: verdana;
    font-size: 13px;
    margin: 0px 8px
}

.information {
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: 13px;
    color: #4b4a4a;
    font-family: Verdana;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
}

.information p {
    margin: 0px;
    color: aqua;
}

.predictionBody {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
}

.leftSide{
    width: 50%;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    margin: 30px 15px 45px 15px;
}

.homeSide {
    height: 100%;
    width: 45%;
    background-color: violet;
    border-radius: 14px;
}

.centre {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-size: 24px;
    font-weight: 10
}

.awaySide {
    height: 100%;
    width: 45%;
    background-color: orange;
    border-radius: 14px;
}

.rightSide{
    width: 50%;
    border-radius: 14px;
}

