html, body {
    height: auto;
    margin: 0;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    background-color: #f3f6f9;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: white;
    font-size: 10px;
    font-family: Verdana;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 20px;
    display: flex;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
}

.navButton {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navButton:hover {
    background-color: #eeeeee;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain;    
    align-items: center;
    justify-content: flex-start;
    background-color: #e6eaf0;
    flex-direction: column;
    margin-top: 0px;
    padding: 24px 0px;
}

.content h1 {
    margin-bottom: 20px;
    text-align: left;
}

.featureBox {
    padding: 50px 0px 60px;
    display: flex;
    flex-direction: column;
}

.mainPrediction {
    background-color: rgb(255, 255, 255);
    width: 160vh;
    margin: 10px 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.featureBox h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
}

.predictionHeader {
    height: 10%;
    border-radius: 14px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    margin-right: 0px;
}

.predictionHeader p {
    color: #4b4a4a;
    font-family: verdana;
    font-size: 13px;
    margin: 0px 8px
}

.information {
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: 13px;
    color: #4b4a4a;
    font-family: Verdana;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 0px;
    height: 30%;
}

.information p {
    margin: 0px;
    color: aqua;
}

.predictionBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
}

.leftSide{
    width: 50%;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    margin: 30px 15px 45px 15px;
    color: #4b4a4a;
    font-family: Verdana;
    padding: 30px 10px;
}

.homeSide {
    height: 100%;
    width: 45%;
    /* background-color: pink; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    align-items: center;
}

.homeSide img {
    width: 110px;
    height: 110px;
    margin: 15px 0px;
}

.awaySide img {
    width: 110px;
    height: 110px;
    margin: 15px 0px;
}


.centre {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-size: 24px;
    font-weight: 10
}

.awaySide {
    height: 100%;
    width: 45%;
    /* background-color: pink; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    align-items: center;

}

.rightSide{
    width: 40%;
    border-radius: 14px;
    /* background-color: aqua; */
    margin: 10px 60px 60px 30px;
}

.statsTitle {
    font-size: 12px;
    margin-top: 3px;
}

.statsSection {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

.statRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 5px 15px;
    font-family: verdana;
    font-size: 12px;

}


.rsHeader {
    font-size: 18px;
    margin: 0px 15px;
    font-family: Verdana;
    display: flex;
    height: 10%;
    /* background-color: aquamarine; */
}

.statsHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px 15px;
    justify-content: space-between;
    font-family: verdana;
}

/* First Column (Everton / Numbers) aligns Left */
.statsHeader > :nth-child(1), 
.statRow > :nth-child(1) {
    text-align: left;
}

/* Middle Column (Statistic / Label) aligns Center */
.statsHeader > :nth-child(2), 
.statRow > :nth-child(2) {
    text-align: center;
}

/* Last Column (Newcastle / Numbers) aligns Right */
.statsHeader > :nth-child(3), 
.statRow > :nth-child(3) {
    text-align: right;
}

.percentage {
    height: 3vh;
    width: 8vw;
    background-color: #e6eaf0;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center; 
    margin: 20px 0px;
    border-radius: 100px;
    font-size: 13px;
}

.better {
  background: rgba(0,0,0,0.20);
  border-radius: 6px;
  padding: 2px 6px;
}

.worse {
  margin: 0px 5px;
}

.winner {
    height: 3vh;
    width: 8vw;
    background-color: rgba(0,0,0,0.20);
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center; 
    margin: 20px 0px;
    border-radius: 100px;
    font-size: 13px;}

.valueLeft,
.valueRight {
  display: inline-block;
}

.valueLeft {
  justify-self: start;
}

.valueRight {
  justify-self: end;
}

.otherPredictions {
    width: 160vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.otherPredictions h1 {
    color: #000000;
    font-family: Verdana;
    font-size: 25px;
    margin: 0px 8px
}

.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px 15px;
}

.tile {
    background-color: white;
    width: 50vh;
    height: 30vh;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.tile .homeSide {
    height: 100%;
    width: 45%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
}

.tile .awaySide {
    height: 100%;
    width: 45%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;

}

.tile .homeSide img {
    width: 70px;
    height: 70px;
    margin: 15px 0px;
}

.tile .awaySide img {
    width: 70px;
    height: 70px;
    margin: 15px 0px;
}


.tile .predictionHeader {
    height: 10%;
    border-radius: 14px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tile .information {
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: 14px;
    color: #4b4a4a;
    font-family: Verdana;
    padding: 5px 0px;
}

.tile .iconText {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
    height: 20%;
}


.tile p {
    font-size: 14px;
}

