html, body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e6eaf0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    width: 100%;
    height: 7vh;
    background-color: rgb(248, 245, 245);
    flex-shrink: 0;
}

.content {
    margin-top: 7vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #e6eaf0;
}