html, body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e6eaf0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrationContainer h1{
    font-size: 40px;
    font-family: Verdana;
    font-weight: 100;
    margin-bottom: 0px;
}

.registrationContainer h2{
    font-size: 15px;
    font-family: Verdana;
    font-weight: 100;
    margin-bottom: 40px;
}

.sidebar h1{
    font-size: 60px;
    font-family: Verdana;
    font-weight: 100;
}

.sidebar p {
    margin: 150px 0px 0px 0px;
    font-family: Verdana;
    font-weight: 100;
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    width: 120vh;
    box-sizing: border-box;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #101827;
    clear: none;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    align-items: center;
}

.registrationContainer{
	background-color: #f9f9f9;
	clear: none;
	height: 100%;
	width: 50%;
	box-sizing: border-box;
    padding: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-direction: column;
	}

.formGroup input {
    width: 95%;
    height: 1.5vh;
    background-color: #f1eeee;
    border-radius: 10px;
    padding: 0.75rem;
    border: 2px solid #a9a8a8;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
    margin: 10px 0px 20px 0px;
}

.nameFormGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.nameFormGroup input {
    width: 90%;
    height: 1.5vh;
    background-color: #f1eeee;
    border-radius: 10px;
    padding: 0.75rem;
    border: 2px solid #a9a8a8;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
}


.nameFormGroup :first-child {
    margin: 10px 30px 0px 0px;
}

.nameFormGroup :last-child {
    margin: 10px 0px 0px 0px;
}

.formGroup input:focus {
    border-color: rgb(47, 45, 52);
    outline: none;
  }


.nameFormGroup input:focus {
    border-color: rgb(47, 45, 52);
    outline: none;
  }

.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin: 0px 0px 15px 5px;
    font-family: Verdana;
}

.signUpButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    min-height: 70px;
    margin: 30px 0px;
    border-radius: 10px;
    border-width: 0px;
    border-color: #078e39;
    background-color: #101827;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.signUpButton:hover {
    background-color: rgb(47, 45, 52);
    cursor: pointer;
}

.loginButton{
    width: 17vw;
    min-height: 50px;
    margin: 30px 0px 50px 0px;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: rgb(22, 21, 21);
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginButton:hover {
    background-color: #c7c6c6;
    cursor: pointer;
}

.buttonContainer{
    display: flex;
    justify-content: center; 
}