html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationContainer h1{
    font-size: 45px;
    font-family: Verdana;
    font-weight: 100;
}

.sidebar h1{
    font-size: 60px;
    font-family: Verdana;
    font-weight: 100;
}

.sidebar p {
    margin: 150px 0px 0px 0px;
    font-family: Verdana;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #08ba4a;
    clear: none;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    align-items: center;
}

.registrationContainer{
	background-color: #ffffff;
	clear: none;
	height: 100%;
	width: 50%;
	box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
	}

.formGroup input {
    width: 95%;
    height: 2vh;
    background-color: #f1eeee;
    border-radius: 50px;
    padding: 0.75rem;
    border: 2px solid #a9a8a8;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
    margin: 20px 0px;
}

.nameFormGroup {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nameFormGroup input {
    width: 95%;
    height: 2vh;
    background-color: #f1eeee;
    border-radius: 50px;
    padding: 0.75rem;
    border: 2px solid #a9a8a8;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
}



.nameFormGroup :first-child {
    margin: 20px 10px 20px 0px;
}

.nameFormGroup :last-child {
    margin: 20px 0px 20px 10px;
}

.formGroup input:focus {
    border-color: #08ba4a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


.nameFormGroup input:focus {
    border-color: #08ba4a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin: 0px 0px 0px 17px;
    font-family: Verdana;
}

.signUpButton{
    width: 13vw;
    min-height: 70px;
    margin: 30px 0px;
    border-radius: 10px;
    border-width: 0px;
    border-color: #078e39;
    background-color: #08ba4a;
    color: #ffffff;
    font-size: 25px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.signUpButton:hover {
    background-color: #06963b;
    cursor: pointer;
}

.loginButton{
    width: 17vw;
    min-height: 50px;
    margin: 30px 0px 50px 0px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #08ba4a;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginButton:hover {
    background-color: #06963b;
    cursor: pointer;
}

.buttonContainer{
    display: flex;
    justify-content: center; 
}